<script src="https://kit.fontawesome.com/47fe5175c0.js" crossorigin="anonymous"></script>

<div id="footer" fxLayout="column" fxLayoutAlign="center center">
    <div id="redes-sociales" fxLayout="row">
        <button mat-mini-fab color="primary" class="btn-redes">
          <i class="fab fa-facebook-f"></i>
        </button>
        <button mat-mini-fab color="primary" class="btn-redes">
          <i class="fab fa-instagram"></i>
        </button>
        <button mat-mini-fab color="primary" class="btn-redes">
          <i class="fab fa-twitter"></i>
        </button>
        <button mat-mini-fab color="primary" class="btn-redes">
          <i class="fab fa-youtube"></i>
        </button>
        <button mat-mini-fab color="primary" class="btn-redes">
          <i class="fab fa-linkedin-in"></i>
        </button>

    </div>
    <h4 class="mat-h4" id="parrafo">Todos los derechos reservados - 2020</h4>
</div>