#proyectos {
    background-color: #8D93AB;
    padding-top: 20px;
    padding-bottom: 20px;
    height: auto;
}

#titulo {
    color: #F1F3F8;
    font-size: 70px;
    margin-bottom: 50px;
    margin-top: 50px;
}

#video {
    width: 1800px;
    height: 700px;
    margin-bottom: 50px;
}