<div id="presentacion">

    <!-- <h1 class="mat-display-4" id="tituloPresentacion" fxHide.xs>Leche Gloria</h1>
    <h1 class="mat-display-3" id="icono" fxHide fxShow.xs>
        <mat-icon> fastfood</mat-icon>
    </h1> -->

    <h1 id="tituloPresentacion" class="mat-display-4" [ngStyle.xs]="{'font-size.px': 100 }">Título Cool</h1>




    <h1 class="mat-headline" id="headlinePresentacion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem velit provident labore minus, laborum dolorem dolorum hic recusandae accusantium obcaecati optio iure mollitia harum quos tempora quas? Neque, dolore consequatur!</h1>

</div>