#paper {
    background-color: #D6E0F0;
    color: #393B44;
    height: 700px;
}

#imagen {
    height: auto;
    margin-left: 50px;
    margin-right: 50px;
    max-width: 100%;
}

.informacion {
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}

#titulo {
    font-size: 70px;
    margin-bottom: 100px;
}

#parrafo {
    font-size: 30px;
}