<!-- <div id="paper">
    <h1 id="titulo">Acerca de </h1>

    <div id="descripcion" [ngStyle.xs]="{'font-size.px': 15}" [ngStyle.sm]="{'font-size.px': 18}" [ngStyle.md]="{'font-size.px': 22}" [ngStyle.lg]="{'font-size.px': 25}" [ngStyle.xl]="{'font-size.px': 30}">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a neque vel sem eleifend mattis lobortis ac mauris. Proin eleifend tincidunt aliquam. Proin consectetur ultrices purus quis feugiat. Aliquam erat volutpat. Maecenas ultrices eros
            odio, id tincidunt tellus fringilla et. Suspendisse porttitor, massa vehicula laoreet viverra, tellus enim pulvinar purus, nec iaculis nulla leo sed orci. Vestibulum eu justo quis diam sagittis egestas pharetra eu mi.</p>
        <p>
            Curabitur sed efficitur dui, eget fermentum enim. Praesent nec purus pellentesque, elementum massa sit amet, dignissim quam. Donec non est in quam tincidunt facilisis. Proin ultrices tellus eu posuere auctor. Nullam lacus tellus, tempor ut consectetur
            ut, porta ac ante. Duis dapibus libero imperdiet, tincidunt orci nec, ullamcorper libero. Fusce at tortor ac neque venenatis ornare vitae a sem. Cras et eros sagittis, eleifend elit eu, finibus metus. Pellentesque suscipit nulla ipsum, in
            tempus tortor lobortis vel. Nam et quam eget magna vestibulum suscipit ac a tortor. Suspendisse potenti.
        </p>

    </div>

</div> -->


<div id="paper" fxLayout="row" fxLayoutAlign="space-evenly">
    <div class="imagen" fxFlexAlign="center" fxFlex="50%">
        <img src="../../assets/img/foto2.png" id="imagen">
    </div>
    <div class="informacion" fxFlexAlign="center" fxFlex="50%">
        <h1 id="titulo" [ngStyle.xs]="{'font-size.px': 30, 'margin.px': 10 }">Acerca de</h1>
        <p id="parrafo" [ngStyle.xs]="{'font-size.px': 20, 'margin.px': 10 }">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque veritatis a, voluptate quaerat accusantium exercitationem explicabo! Pariatur repellat nam dolore magni nulla, animi voluptatum numquam quae corrupti deleniti corporis repellendus!</p>
    </div>

</div>