#contenedor {
    height: auto;
    background-color: #393B44;
}

#titulo {
    font-size: 50px;
    color: #F1F3F8;
    text-align: center;
}

#tarjetas {
    margin: 20px;
}

.card-proyecto {
    width: auto;
    margin-right: 50px;
    margin-left: 50px;
}