<div id="inicio" fxLayout="row" fxLayoutAlign="space-evenly">

    <div class="informacion" fxFlexAlign="center" fxFlex="60">
        <h1 id="titulo" [ngStyle.xs]="{'font-size.px': 50}" [ngStyle.sm]="{'font-size.px': 50}">Esto es una Landing Page!</h1>
        <p id="parrafo">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui facere cum laboriosam? Repellendus maiores architecto commodi ratione quasi. Maiores voluptatum facilis ipsum numquam fugit accusantium illum culpa cumque voluptas possimus!</p>
        <div id="botones" fxLayout="row" fxLayoutAlign="center">
            <button mat-raised-button id="botonPrincipal">Botón 1</button>
            <button mat-raised-button id="botonSecundario">Botón 2</button>

        </div>
    </div>
    <div class="imagen" fxLayoutAlign="end" fxHide.xs fxHide.sm>
        <img src="../../assets/img/foto1.png " id="sin-linea ">
    </div>


</div>